* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #171923;
  color: #eee;
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  width: 720px;
}
.info > p {
  text-align: center;
}

img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

h1, h2, p {
  text-align: center;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #197278;
  color: #e0e0e0;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #c44536;
}